// external imports
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');

// colors
$mainBlack: #000;
$mainWhite: #fff;
$companyBlack: #121212;
$lightGrey: rgb(212, 209, 209);
$dimWhite: rgb(247, 247, 247);
$radialBg: radial-gradient(ellipse at bottom, #1591c2 0%, #090a0f 100%);
// theme
$mainFont: 'Quicksand', sans-serif;
